/* ===========================
   Base
   =========================== */
html {
  scroll-behavior: smooth;
}
body {
  background-color: $white;
  font-family: $poppin;
  color: $black;
  overflow-x: hidden;
}

*:focus {outline:none !important}

a {
  color: $col2;
  &:hover {
    @include transition(all 0.25s); text-decoration: none; color: $c7;
  }
}

p {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $poppin;
}

.wow {
  visibility: hidden; @include transform-origin(0 50%);
}

.btnLets {
  width: auto; height: 50px; background-color: $col2; color: $white; padding: 0 30px; margin: 0 0 0 0; -webkit-border-radius: 25px; border-radius: 25px; line-height: 50px; font-weight: 700; display: block; text-transform: uppercase; border: none; font-size: rem(16px); @include position(fixed, null 50px 20px null); @include transition(all 300ms ease-in-out); z-index: 200;
  &:hover {
    background-color: $col3; -webkit-border-radius: 10px; border-radius: 10px; color: $white;
  }
}

.overlayGenerico {
  @extend .overlayClass; background-color: rgba($white,0.75); z-index: 100; @include displayFlex(flex, column, center, center, wrap); opacity: 0; visibility: hidden; overflow: hidden;
}
.btnCloseModal {
  width: 40px; height: 40px; display: block; text-align: center; line-height: 40px; margin: 0; padding: 0; color: $white; background-color: $col2; @include position(absolute, -15px -15px null null); z-index: 4150; font-size: rem(25); border: none; cursor: pointer; border-radius: 50%; box-shadow: 0 0 1px rgba(0,0,0,0.25);
}
.modalAviso {
  width: 100%; max-width: 300px; height: auto; background-color: $white; border: 1px solid $col2; @include box-sizing(border-box); padding: 0; margin: 0; position: relative; border-radius: 10px;
  .contentInfo {
    width: 100%; height: auto; overflow-y: auto; overflow-x: hidden; padding: 20px 30px; margin: 0; text-align: center;
    h2 { color: $c7; font-weight: 900; }
    p {
      color: $c7; font-size: rem(16px);
      strong {
        font-weight: 700;
      }
    }
    ul {
      width: 100%; height: auto; padding: 0; margin: 10px 0 10px 0; @include displayFlex(flex, row, center, flex-start, wrap); list-style-type: none;
      li {
        list-style-type: none;
        a {
          width: 50px; height: 50px; line-height: 50px; text-decoration: none; color: $white; text-decoration: none; background-color: $col11; font-size: rem(26px); margin-bottom: 4px; display: block; text-align: center; @include transition(all 0.23s); border-radius: 50%;
          &:hover {
            text-decoration: none; color: $white; background-color: $col2;
          }
        }
      }
    }
  }
}
.overProgress {
  @extend .overlayClass; background-color: rgba($col1, 0.95); z-index: 200;
}
.cont-mod-form {
  width: auto; height: auto; background-color: $col1; border: 2px solid $col3; @include box-sizing(border-box); padding: 0; margin: 0; @include position(absolute, 50% nunll null 50%); @include transform(translate(-50%, -50%)); border-radius: 10px; box-shadow: 0 0 6px rgba(0,0,0,0.25); opacity: 0; visibility: hidden; z-index: -1;
  .contentInfo {
    width: 100%; max-width: 400px; height: 300px; overflow-y: auto; overflow-x: hidden; padding: 20px 30px; margin: 0; @include displayFlex(flex, column, center, center, warp);
    h2, h3, h4 { color: $white; text-align: center; }
    p {
      color: $white; font-size: rem(14px); text-align: center;
      a {
        color: $white;
      }
    }
  }
  &.showMo {
    @include transition(visibility 0s, opacity 300ms ease); visibility: visible; opacity: 1; z-index: 1;
  }
  &.hideMo {
    opacity: 0; visibility: hidden; z-index: -1; @include transition(visibility 0s, opacity 300ms ease);
  }
}
.no-padding {
  padding-left: 0!important; padding-right: 0!important;
} 

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 480px) {
  .modalAviso {
    max-width: 400px;
  }
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
  .modalAviso {
    max-width: 600px;
  }

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

@include keyframes(button) {
  0% {
    opacity: 0;
    @include transform(translate(-50px, 0px) skewX(-50deg)); width: 10%;
  }
  50% {
    opacity: 1;
    @include transform(translate(0, 0px) skewX(-50deg)); width: 100%;
  }
  100% {
    opacity: 0;
    @include transform(translate(300%, 0px) skewX(-50deg)); width: 50%;
  }
}